.date {
  position: absolute;
  right: 0px;
}
.doinput {
  height: 25px;
}
.datepicker {
  margin-right: 50px;
}

.cpltdate {
  margin-left: 50px;
  font-weight: normal;
}
.dolist {
  margin: auto;
  padding: 10px;
  width: 90%;
}
.diary {
  margin: auto;
  padding: 10px;
  width: 90%;
}
.doform {
  float: right;
}
